body {
    margin: 0px;
    background-image: url(images/bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #FFFFFF;
}

.comp_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    font-weight: bold;
}

.top_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #656363;
    font-weight: bold;
    text-decoration: none;
}

.page_heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #04157d;
    font-weight: bold;
}

.page_heading1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.page_heading2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ed0011;
    font-weight: bold;
}

.running-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #252c33;
    text-align: justify;
    padding: 5px;
}

.small-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    color: #252c33;
}

.heading2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #252c33;
    padding: 2px;
}

.running-text-white {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    text-align: justify;
    padding: 2px;
}